.title {
	text-align: center;
	font-size: 28px;
	font-family: 'Sacramento', cursive;
	font-weight: bolder;
}

.instructions-heading {
	font-size: 14px;
	text-align: center;

}

.instructions-body {
	font-size: 12px;
}

.computerPick {
	font-size: 20px;
	text-align: center;
	font-family: 'Sacramento', cursive;
}

.computerNumber {
	font-size: 14px;
	text-align: center;
}

#winsLosses {
	font-size: 18px;
	text-align: center;
	font-family: 'Sacramento', cursive;
	margin-top: 60px;
	font-weight: bold;
}

#totalScore {
	text-align: center;
	font-size: 14px;
}

#yourTotal {
	font-size: 16px;
	font-family: 'Sacramento', cursive;
}
#currentTotal {
	text-align: center;
	margin-top: 5px;
}

#runningTotal {
	font-size: 24px;
}

#playButton {
	width: 100px;
	margin-top: 70px;
}

#junk{
	margin-top: 5px;
}
