.title {
	text-align: center;
	font-size: 18px;
}

.computerNumber {
	font-size: 18px;
}	

.instructions-heading {
	font-size: 14px;
	text-align: center;
}
`
.instructions-body {
	font-size: 12px;
}

.computerPick {
	font-size: 14px;
	text-align: center;
}

.computerNumber {
	text-align: center;
}

#winsLosses {
	font-size: 16px;
	text-align: center;
}

#totalScore {
	text-align: center;
	font-size: 14px;
}

#currentTotal {
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
}

#runningTotal {
	font-size: 24px;
}

#playButton {
	width: 100px;
	margin-top: 70px;
}

#gems{
	margin-top: 25px;
}

#red {
	width: 22%;
 	border: 0 none;

}
#blue {
		width: 22%;
 	border: 0 none;
}
#pink {
		width: 22%;
 	border: 0 none;
}
#green {
		width: 22%;
 	border: 0 none;
}